body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 100vh;
  margin: 0;
}

.calculator {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  height: 90vh;
  width: 60vh;
  border: 10px solid rgb(63, 186, 184);
  border-radius: 30px;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 20vh;
  width: 100%;
  color: rgb(0, 255, 0);
  font-size: 12vh;
  background-color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.clear {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  width: 80%;
  background-color: rgb(63, 186, 184);
  z-index: 1;
}

.c-clear, .ac-clear, .pos-neg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
  width: 47%;
  margin: auto;
  background-color: grey;
  border-radius: 10px;
  font-size: 5vh;
}

.number-pad {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: space-around;
  height: 60vh;
  width: 80%;
  background-color: rgb(63, 186, 184);
  border-bottom-left-radius: 15px;
  z-index: 1;
}

.number, .point, .equal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14vh;
  width: 30%;
  margin: auto;
  background-color: grey;
  border-radius: 15px;
  font-size: 5vh;
}

.point {
  width: 10%;
}

.equal {
  width: 50%;
}

.operands {
  position: relative;
  top: -10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 70vh;
  width: 20%;
  background-color: rgb(63, 186, 184);
  border-bottom-right-radius: 15px;
}

.operator, .pos-neg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5vh;
  width: 90%;
  margin: auto;
  background-color: grey;
  border-radius: 15px;
  font-size: 5vh;
}

.c-clear:hover, .ac-clear:hover,
.number:hover, .point:hover, .equal:hover,
.operator:hover, .pos-neg:hover {
  transform: scale(1.1);
}
